<!DOCTYPE html>
<html lang="en">

<head>

  </script>
  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PQ2QKF4');</script>
  <!-- End Google Tag Manager -->
  <title id="page_title" data-page-title="IPL Auction">IPL Auction</title>
  <meta charset="UTF-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="csrf-token" content="1t7UfTXePqfHGE7Ed7LSrzQ2WequZNEYq7fnvmS2" />
  <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

  <meta name="twitter:card" content="summary_large_image">
  <meta name="og:type" content="website">
  <meta name="twitter:title" content="IPL Auction">
  <meta name="og:url" content="https://www.iplt20.com/auction">
  <meta name="og:title" content="IPL Auction">

  <meta name="og:description"
    content="It&#039;s Auction Time! Get all information about the auction as it happened. Details about Highest Bid for players, most expensive players, players retained, Teams &amp; their formations!" />
  <meta name="og:image" itemprop="image" content="https://www.iplt20.com/assets/images/ipl-share-img.png">
  <meta name="og:image:secure_url" content="https://www.iplt20.com/assets/images/ipl-share-img.png">

  <meta name="keywords"
    content="Ipl, indian premier league, indian cricket venues, indian cricket grounds, cricket stadium, ipl cricket stadium, ipl cricket ground, Eden Gardens, M. A. Chidambaram Stadium, Arun Jaitley Stadium, Chinnaswamy Stadium, Wankhede Stadium, Barabati Stadium, Narendra Modi Stadium, Rajiv Gandhi International Cricket Stadium, Rajiv Gandhi International Cricket Stadium" />
  <meta name="description"
    content="It&#039;s Auction Time! Get all information about the auction as it happened. Details about Highest Bid for players, most expensive players, players retained, Teams &amp; their formations!" />



  <!-- <meta name="og:image"   content="https://www.iplt20.com/assets/images/ipl-share-img.png"> -->

  <!-- <meta name="og:image:secure_url"   content="https://www.iplt20.com/assets/images/ipl-share-img.png"> -->



  <!-- Google Tag Manager -->
  <script>(function (w, d, s, l, i) {
      w[l] = w[l] || []; w[l].push({
        'gtm.start':
          new Date().getTime(), event: 'gtm.js'
      }); var f = d.getElementsByTagName(s)[0],
        j = d.createElement(s), dl = l != 'dataLayer' ? '&l=' + l : ''; j.async = true; j.src =
          'https://www.googletagmanager.com/gtm.js?id=' + i + dl; f.parentNode.insertBefore(j, f);
    })(window, document, 'script', 'dataLayer', 'GTM-PQ2QKF4');</script>
  <!-- End Google Tag Manager -->

  <link rel="shortcut icon" href="https://www.iplt20.com/img/favicon.ico">

  <link rel="preload" onload="this.onload=null;this.rel='stylesheet'" as="style"
    href="https://www.iplt20.com/assets/css/bootstrap-5.1.3.min.css?v=1.7.7">
  <noscript>
    <link rel="stylesheet" href="https://www.iplt20.com/assets/css/bootstrap-5.1.3.min.css?v=1.7.7">
  </noscript>
  <!-- <link rel="stylesheet" href="https://www.iplt20.com/assets/css/owlcarousel-2.3.4.min.css?v=1.5.6 "> -->
  <link rel="preload" onload="this.onload=null;this.rel='stylesheet'" as="style"
    href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,700&display=swap">
  <noscript>
    <link rel="stylesheet" href="https://fonts.googleapis.com/css2?family=Source+Sans+Pro:ital,wght@1,700&display=swap">
  </noscript>
  <!-- <link rel="stylesheet" href="https://www.iplt20.com/assets/css/bootstrap-4.5.2.min.css "> -->
  <link rel="preload" onload="this.onload=null;this.rel='stylesheet'" as="style"
    href="https://www.iplt20.com/slick/slick.css?v=1.7.7 ">
  <noscript>
    <link rel="stylesheet" href="https://www.iplt20.com/slick/slick.css?v=1.7.7">
  </noscript>
  <!-- <link rel="stylesheet" href="https://www.iplt20.com/slick/slick-theme.css?v=1.5.6"> -->
  <link rel="preload" onload="this.onload=null;this.rel='stylesheet'" as="style"
    href="https://www.iplt20.com/assets/css/font-awesome.min.css?v=1.7.7">
  <noscript>
    <link rel="stylesheet" href="https://www.iplt20.com/assets/css/font-awesome.min.css?v=1.7.7">
  </noscript>
  <link rel="preload" onload="this.onload=null;this.rel='stylesheet'" as="style"
    href="https://www.iplt20.com/assets/js/mcustom/jquery.mCustomScrollbar.min.css?v=1.7.7">
  <noscript>
    <link rel="stylesheet" href="https://www.iplt20.com/assets/js/mcustom/jquery.mCustomScrollbar.min.css?v=1.7.7">
  </noscript>
  <!-- <link rel="stylesheet" href="https://www.iplt20.com/assets/js/flipcount/flipdown.min.css?v=1.5.6"> -->
  <script src="https://cdn.jsdelivr.net/npm/popper.js@1.16.1/dist/umd/popper.min.js" defer></script>
  <link rel="preload" onload="this.onload=null;this.rel='stylesheet'" as="style"
    href="https://www.iplt20.com/assets/css/dataTables.min.css?v=1.7.7">
  <link rel="preload" onload="this.onload=null;this.rel='stylesheet'" as="style"
    href="https://www.iplt20.com/assets/css/ipl-style-a.min.css?v=1.7.7">
  <noscript>
    <link rel="stylesheet" href="https://www.iplt20.com/assets/css/ipl-style-a.min.css?v=1.7.7">
  </noscript>
  <link rel="preload" onload="this.onload=null;this.rel='stylesheet'" as="style"
    href="https://www.iplt20.com/assets/css/ipl-style-n.min.css?v=1.7.7">
  <noscript>
    <link rel="stylesheet" href="https://www.iplt20.com/assets/css/ipl-style-n.min.css?v=1.7.7">
  </noscript>
  <link rel="stylesheet" href="https://www.iplt20.com/assets/css/ipl-style.min.css?v=1.7.7">
      <script src="https://code.jquery.com/jquery-3.6.0.js"></script>
    <script src="https://code.jquery.com/ui/1.13.2/jquery-ui.js"></script>
    <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.css">
  <script>
    // ideally this is on top of page; works on bottom as well
    if (/^\?fbclid=/.test(location.search))
      location.replace(location.href.replace(/\?fbclid.+/, ""));
  </script>

  <style>


    .fan .ap-stat-table,
    .fan .modal-title {
      background: 0 0;
      width: 100%
    }

    ul.sub-menu li.activate a {
      color: #329ed9 !important
    }

    .fan .modal-dialog {
      float: right;
      right: 70px
    }

    .fan .modal-title {
      color: #ef4123;
      font-weight: 700;
      font-size: 27px
    }

    .fan .nav-item {
      width: 50%;
      text-align: center
    }

    .fan .nav-pills .nav-link.active,
    .nav-pills .show>.nav-link {
      color: #fff;
      background-color: #ef4123
    }

    .fan ul {
      background: linear-gradient(71.81deg, #18184a 25.64%, #19398a 66.22%, #18184a 114.53%);
      padding: 3px;
      border-radius: 7px;
      overflow: hidden
    }

    .fan ul a {
      color: #fff;
      font-weight: 700
    }

    .fan .modal-header .close {
      padding: 4px 10px;
      margin: 0;
      font-size: 37px;
      font-weight: 400
    }

    .ov-card {
      background: #fff;
      border-radius: 4px;
      border: 2px solid rgba(0 0 0 / 5%);
      box-shadow: 2px 2px 5px #dee2e6
    }

    .ov-card .progress,
    .team-selection {
      box-shadow: 0 4.00779px 8.01557px rgba(0, 0, 0, .25)
    }

    .ov-card b {
      color: #18184a
    }

    .team-selection {
      border-radius: 10px
    }

    .team-selection>div {
      width: calc(100% - 27px);
      text-transform: uppercase;
      float: left;
      padding-right: 10px
    }

    .team-selection span img {
      width: 5%
    }

    .ov-card .progress {
      height: 2rem;
      background: #fff
    }

    .ov-card .progress-bar {
      background: linear-gradient(180deg, #006cb7 0, #003b7a 100%);
      text-align: center;
      text-transform: uppercase;
      font-size: 16px;
      font-weight: 700
    }

    .sticky {
      position: fixed;
      top: 0;
      width: 100%;
      z-index: 999
    }

    .sticky+.content {
      padding-top: 102px
    }

    .btn-for-search {
      background: #ef4123 !important;
      color: #fff;
      padding: 4px 23px;
      border-radius: 5px;
      width: 100%;
      font-size: 1rem;
      font-weight: 800;
      height: 2.4rem
    }

    #searchButtonForHeader b {
      color: #fff
    }

    #searchButtonForHeader i {
      color: #fff;
      font-size: 17px
    }

    @media only screen and (max-width:600px) {
      #searchButtonForHeader img {
        margin-top: 0
      }

      #searchButtonForHeader b {
        display: none
      }
    }
  </style>
   



  <header class="ap-header col-100 floatLft" id="header-main">

    <!--  -->
    <div class="ap-main-header left right col-100 floatLft flexDisplay justifySpace alignCenter flxNav" id="myHeader">
      <div class="container d-flex justify-content-between flex-wrap position-relative p-0">
        <div class="ap-ipl-logo"><a href="#"><img class="lazy"
              src="https://www.iplt20.com/assets/images/ipl-logo-new-old.png" alt=""></a></div>


        <div class="site-mobile-menu site-navbar-target">
          <div class="site-mobile-menu-header xxxxxxxxxxx">
            <div class="site-mobile-menu-close mt-3">
              <span class="icon-close2 js-menu-toggle">×</span>
            </div>
          </div>
          <div class="site-mobile-menu-body"></div>
        </div> <!-- .site-mobile-menu -->


        <div class="ap-search">
          <!-- <a href="http://fanverse.ipltt20-dev2.epicon.in/" target="_blank" class="fanverse">FANVERSE</a> -->
          <a href="javascript:;" class="ap-searchClick"><img class="lazy"
              src="https://www.iplt20.com/assets/images/new-search-icon.svg" alt="" style="opacity: 0;"></a>
          <!-- <a href="javascript:;" class="ap-fanPolls" data-toggle="modal" data-target="#fan"><img class="lazy" src="https://www.iplt20.com/assets/images/fanpolls.png" alt=""></a> -->

          <!-- <a href="javascript:void(0);" class="ap-mobile-menu-toggle">
                        <img class="lazy" src="https://www.iplt20.com/assets/images/mob-ham.png" alt="">
                    </a> -->
        </div>




  </header>

  <script defer src="https://www.iplt20.com/assets/js/ipl-custom.min.js?v=1.7.7"></script>

  <!--navigation menu end-->

<body class="js-body-content" ng-app="MyApp">
  <!-- Google Tag Manager (noscript) -->
  <noscript><iframe src="https://www.googletagmanager.com/ns.html?id=GTM-PQ2QKF4" height="0" width="0"
      style="display:none;visibility:hidden"></iframe></noscript>
  <!-- End Google Tag Manager (noscript) -->
  <div style="display: none;" class="loader-main">
    <div class="loader"></div>
  </div>
  <script src="https://www.iplt20.com/assets/js/jQuery/jquery-3.6.min.js"></script>





  <script type="text/javascript">
    function kFormatter(num) {
      if (Number.isInteger(num)) {
        return Math.abs(num) > 999 ? Math.sign(num) * ((Math.abs(num) / 1000).toFixed(1)) + 'k' : Math.sign(num) * Math.abs(num)
      } else {
        return 0;
      }

    }
  </script>
  <style>
    .big-play-show {
      display: block !important;
    }
  </style>
  <div class="clearfix"></div>

  <div class="tab-content new" header="show">
    <div id="ya-2022" class="tab-pane fade in show active">

      <div class="auction-details-new w-100">
        <!-- <h2>IPL 2024 Players Auction</h2> -->
        <!-- <p>Records were broken and history was created as Mitchell Starc became the most expensive player in the history of IPL Auction as KKR bought him for INR 24.75 Crore in an action-packed Auction Day at the Coca Cola Arena in Dubai. 

A buzzing Coca Cola Arena saw the fans make their debut at an IPL Auction and the excitement was palpable as the teams went all out in securing the services of some of the top players in the world. All-rounder Harshal Patel was the most expensive Indian player at the 2024 Player Auction as he attracted a bid of INR 11.75 Crore from PBKS. 

A total of 72 players were sold, including 30 overseas players, with INR 230.45 Crore spent on a record-breaking day at the Auction. The 10 teams are set for a breathtaking IPL 2024 season and the countdown has begun!</p> -->

        <!-- The Modal -->


        <div class="new-auction-title">
          <h3>IPL EUPHORIA <span>Player Auction</span></h3>

        </div>
      </div>
      <section class="auction-banner">
        <div class="container">
          <!-- <div class="row justify-content-center" style="display: none;"> -->
          <div class="row justify-content-center">
            <div class="col-lg-6 col-sm-12 position-relative">
              <div class="v-fram1 w-100">
                <div class="avb">
                  <div class="avb-img w-100" style="padding:0px 30px 30px 30px;">
                  </div>
                  <img src="<%if(randomPlayer){%>
                  <%=randomPlayer.imageUrl%>
                  
                  <%}else{%>
                  
                    https://img.cricketworld.com/images/e-122898/fkqtiglxkaaw0xn.jpg
                    
                    <%}%>"
                     alt=""
                    class="auction-placeholder" style="width: 100%;border:2px solid #fff">

                  <div class="ap-video-desc col-100 floatLft textLeft">
                    <p class="popuptitle mb-0">IPL AUCTION EUPHORIA</p>
                    <div class="popupdescription" style="color:white;"></div>
                  </div>
                </div>
              </div>
            </div>
         <div class="col-lg-6 col-sm-12">
    <div class="auction-most-exp-style w-100 pt-0  mb-5">
        <div class="mep-title">
        
        <%if(randomPlayer){%>
            
            <%=randomPlayer.playerName%>
            
            <%}else{%>
            "No player Found"
            
            <%}%>
        
        </div>
        <div class="most-expensive-player mb-4">
            <div class="mep-player-list">
                <div class="megp-img">
                  <%if(randomPlayer){%>

                      <%if(randomPlayer.type=="Bat's Man"){%>
                       <img src="
                          
                   https://t4.ftcdn.net/jpg/01/98/57/03/360_F_198570381_HyFQ2nWzCoPia8PHNrz1AQGUSCbGNI6V.jpg
                   
                    " style="border-radius: 5px;">
                      <%}%>

                      <%if(randomPlayer.type=="Bowler"){%>
                       <img src="
                          
                   https://static.vecteezy.com/system/resources/previews/014/835/426/non_2x/trendy-cricket-bowler-vector.jpg
                   
                    " style="border-radius: 5px;">
                      <%}%>
                      <%if(randomPlayer.type=="Wicket Keeper"){%>
                       <img src="
                          
                   https://t3.ftcdn.net/jpg/05/07/43/74/360_F_507437483_JRyTB6fbVmrSUUEJS1BDgD8N3yF56HLK.jpg
                   
                    " style="border-radius: 5px;">
                      <%}%>
                      
                      <%if(randomPlayer.type=="All Rounder"){%>
                       <img src="
                          
                   https://i.pinimg.com/474x/64/a9/2e/64a92efe1f089aea286ddf93652e20ef.jpg
                   
                    " style="border-radius: 5px;">
                      <%}%>
                  <%}else{%>
                        <img src="
                          
                    https://as2.ftcdn.net/v2/jpg/04/02/63/15/1000_F_402631518_7YcGVrKSocl2E0Iud1sYSy6xUXX9QEUN.jpg
                   
                    " style="border-radius: 5px;">
                  <%}%>
                    
                </div>
                <div class="mep-name"><%if(randomPlayer){%><%=randomPlayer.type%><%}else{%>"None"<%}%></div>
                <div class="player-price">₹<%if(randomPlayer){%><%=randomPlayer.a%><%}else{%>"Base Price"<%}%></div>
                <!-- New button added below -->
            </div>

        </div>
        <%if(randomPlayer){%>
                <button type="button" class="btn btn-primary" style="width:200px; height:40px; font-size:15px;" onclick="prepareFinalizeBid(<%=randomPlayer.playerId%>)">Finalize Bid</button>

                <button type="button" class="btn btn-primary" style="width:200px; height:40px; font-size:15px;"><a href="/unsoldPlayer/<%=randomPlayer.playerId%>" style="color:white; text-decoration:none;">Unsold</a></button>
                
                <%}else{%>
                <button type="button" class="btn btn-primary" style="width:200px; height:40px; font-size:15px;"><a href="/?next=true" style="color:white; text-decoration:none;">next</a></button>
                <%}%>
                



    </div>
     
</div>



        
          </div>
        </div>
            

       

        <div class="container">
          <section
            class="auction-tab-section auction-tabbed_panel ih-vbg-n ap-latest-news ap-no-bg-result col-100 floatLft relative">
            <div class="tab-n-view">
              <ul class="nav nav-tabs auction-tab">
                <li class="active o"><a data-toggle="tab" href="#autab1-2022" class="active show">Overview</a></li>


                <li class="auction-tab-switch"><a data-toggle="tab" href="#autab4-2022">Unsold Players</a></li>

              </ul>
              <input type="hidden" name="teamname" class="CSK" id="teamname_0" value="[1,1,1,3]"><input type="hidden"
                name="teamname" class="GT" id="teamname_1" value="[0,5,1,2]"><input type="hidden" name="teamname"
                class="PBKS" id="teamname_2" value="[2,1,0,5]"><input type="hidden" name="teamname" class="RR"
                id="teamname_3" value="[2,1,1,1]"><input type="hidden" name="teamname" class="RCB" id="teamname_4"
                value="[0,0,0,0]"><input type="hidden" name="teamname" class="SRH" id="teamname_5"
                value="[1,3,0,2]"><input type="hidden" name="teamname" class="DC" id="teamname_6"
                value="[2,2,4,1]"><input type="hidden" name="teamname" class="KKR" id="teamname_7"
                value="[3,5,1,1]"><input type="hidden" name="teamname" class="LSG" id="teamname_8"
                value="[1,2,0,3]"><input type="hidden" name="teamname" class="MI" id="teamname_9" value="[0,3,0,5]">
              <input type="hidden" name="teamspecialist" id="teamspecialist"
                value=["Batter","Bowler","Wicket-Keeper","All-Rounder"]>

              <div class="grid-list-tab">
                <a href="javascript:void(0)" class="au-grid active"></a>
                <a href="javascript:void(0)" class="au-list"></a>
              </div>
            </div>

            <div class="tab-content">
              <div id="autab1-2022" class="tab-pane fade in active show">

                <!-- Grid View Start -->
                <div class="auction-grid-view mt-3">
                  <div class="agv-main CSK" id="CSK">
                    <div class="agv-team-logo"><img
                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465555_CSKroundbig.png"
                        alt=""></div>
                    <div class="agv-team-name"><%= teams[0].teamName%></div>
                    <div class="avg-bottom">
                      <div class="avg-fund-remaining">
                        <span class="fr-name">Funds Remaining</span>
                        <span class="fr-fund">₹<%= teams[0].remainingAmount%></span>
                      </div>
                      <ul class="mb-0 px-1">
                        <li class="m-0">
                          <span class="fr-name">Overseas Players</span>
                          <span class="fr-fund"><%= teams[0].overSeasplayers%></span>
                        </li>
                        <li class="m-0 px-1">
                          <span class="fr-name">Total Players</span>
                          <span class="fr-fund"><%= teams[0].totalPlayers%></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="agv-main DC" id="DC">
                    <div class="agv-team-logo"><img
                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465727_DCroundbig.png"
                        alt=""></div>
                    <div class="agv-team-name"><%= teams[1].teamName%></div>
                    <div class="avg-bottom">
                      <div class="avg-fund-remaining">
                        <span class="fr-name">Funds Remaining</span>
                        <span class="fr-fund">₹<%= teams[1].remainingAmount%></span>
                      </div>
                      <ul class="mb-0 px-1">
                        <li class="m-0">
                          <span class="fr-name">Overseas Players</span>
                          <span class="fr-fund"><%= teams[1].overSeasplayers%></span>
                        </li>
                        <li class="m-0 px-1">
                          <span class="fr-name">Total Players</span>
                          <span class="fr-fund"><%= teams[1].totalPlayers%></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="agv-main GT" id="GT">
                    <div class="agv-team-logo"><img
                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465836_GTroundbig.png"
                        alt=""></div>
                    <div class="agv-team-name"><%= teams[2].teamName%></div>
                    <div class="avg-bottom">
                      <div class="avg-fund-remaining">
                        <span class="fr-name">Funds Remaining</span>
                        <span class="fr-fund">₹<%= teams[2].remainingAmount%></span>
                      </div>
                      <ul class="mb-0 px-1">
                        <li class="m-0">
                          <span class="fr-name">Overseas Players</span>
                          <span class="fr-fund"><%= teams[2].overSeasplayers%></span>
                        </li>
                        <li class="m-0 px-1">
                          <span class="fr-name">Total Players</span>
                          <span class="fr-fund"><%= teams[2].totalPlayers%></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="agv-main KKR" id="KKR">
                    <div class="agv-team-logo"><img
                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465948_KKRroundbig.png"
                        alt=""></div>
                    <div class="agv-team-name"><%= teams[3].teamName%></div>
                    <div class="avg-bottom">
                      <div class="avg-fund-remaining">
                        <span class="fr-name">Funds Remaining</span>
                        <span class="fr-fund">₹<%= teams[3].remainingAmount%></span>
                      </div>
                      <ul class="mb-0 px-1">
                        <li class="m-0">
                          <span class="fr-name">Overseas Players</span>
                          <span class="fr-fund"><%= teams[3].overSeasplayers%></span>
                        </li>
                        <li class="m-0 px-1">
                          <span class="fr-name">Total Players</span>
                          <span class="fr-fund"><%= teams[3].totalPlayers%></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="agv-main LSG" id="LSG">
                    <div class="agv-team-logo"><img
                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466030_LSGroundbig.png"
                        alt=""></div>
                    <div class="agv-team-name"><%= teams[4].teamName%></div>
                    <div class="avg-bottom">
                      <div class="avg-fund-remaining">
                        <span class="fr-name">Funds Remaining</span>
                        <span class="fr-fund">₹<%= teams[4].remainingAmount%></span>
                      </div>
                      <ul class="mb-0 px-1">
                        <li class="m-0">
                          <span class="fr-name">Overseas Players</span>
                          <span class="fr-fund"><%= teams[4].overSeasplayers%></span>
                        </li>
                        <li class="m-0 px-1">
                          <span class="fr-name">Total Players</span>
                          <span class="fr-fund"><%= teams[4].totalPlayers%></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="agv-main MI" id="MI">
                    <div class="agv-team-logo"><img
                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466090_MIroundbig.png"
                        alt=""></div>
                    <div class="agv-team-name"><%= teams[5].teamName%></div>
                    <div class="avg-bottom">
                      <div class="avg-fund-remaining">
                        <span class="fr-name">Funds Remaining</span>
                        <span class="fr-fund">₹<%= teams[5].remainingAmount%></span>
                      </div>
                      <ul class="mb-0 px-1">
                        <li class="m-0">
                          <span class="fr-name">Overseas Players</span>
                          <span class="fr-fund"><%= teams[5].overSeasplayers%></span>
                        </li>
                        <li class="m-0 px-1">
                          <span class="fr-name">Total Players</span>
                          <span class="fr-fund"><%= teams[5].totalPlayers%></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="agv-main PK" id="PK">
                    <div class="agv-team-logo"><img
                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466143_PBKSroundbig.png"
                        alt=""></div>
                    <div class="agv-team-name"><%= teams[6].teamName%></div>
                    <div class="avg-bottom">
                      <div class="avg-fund-remaining">
                        <span class="fr-name">Funds Remaining</span>
                        <span class="fr-fund">₹<%= teams[6].remainingAmount%></span>
                      </div>
                      <ul class="mb-0 px-1">
                        <li class="m-0">
                          <span class="fr-name">Overseas Players</span>
                          <span class="fr-fund"><%= teams[6].overSeasplayers%></span>
                        </li>
                        <li class="m-0 px-1">
                          <span class="fr-name">Total Players</span>
                          <span class="fr-fund"><%= teams[6].totalPlayers%></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="agv-main RR" id="RR">
                    <div class="agv-team-logo"><img
                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466295_RRroundbig.png"
                        alt=""></div>
                    <div class="agv-team-name"><%= teams[7].teamName%></div>
                    <div class="avg-bottom">
                      <div class="avg-fund-remaining">
                        <span class="fr-name">Funds Remaining</span>
                        <span class="fr-fund">₹<%= teams[7].remainingAmount%></span>
                      </div>
                      <ul class="mb-0 px-1">
                        <li class="m-0">
                          <span class="fr-name">Overseas Players</span>
                          <span class="fr-fund"><%= teams[7].overSeasplayers%></span>
                        </li>
                        <li class="m-0 px-1">
                          <span class="fr-name">Total Players</span>
                          <span class="fr-fund"><%= teams[7].totalPlayers%></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="agv-main RCB" id="RCB">
                    <div class="agv-team-logo"><img
                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466217_RCBroundbig.png"
                        alt=""></div>
                    <div class="agv-team-name"><%= teams[8].teamName%></div>
                    <div class="avg-bottom">
                      <div class="avg-fund-remaining">
                        <span class="fr-name">Funds Remaining</span>
                        <span class="fr-fund">₹<%= teams[8].remainingAmount%></span>
                      </div>
                      <ul class="mb-0 px-1">
                        <li class="m-0">
                          <span class="fr-name">Overseas Players</span>
                          <span class="fr-fund"><%= teams[8].overSeasplayers%></span>
                        </li>
                        <li class="m-0 px-1">
                          <span class="fr-name">Total Players</span>
                          <span class="fr-fund"><%= teams[8].totalPlayers%></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                  <div class="agv-main SH" id="SH">
                    <div class="agv-team-logo"><img
                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466366_SRHroundbig.png"
                        alt=""></div>
                    <div class="agv-team-name"><%= teams[9].teamName%></div>
                    <div class="avg-bottom">
                      <div class="avg-fund-remaining">
                        <span class="fr-name">Funds Remaining</span>
                        <span class="fr-fund">₹<%= teams[9].remainingAmount%></span>
                      </div>
                      <ul class="mb-0 px-1">
                        <li class="m-0">
                          <span class="fr-name">Overseas Players</span>
                          <span class="fr-fund"><%= teams[9].overSeasplayers%></span>
                        </li>
                        <li class="m-0 px-1">
                          <span class="fr-name">Total Players</span>
                          <span class="fr-fund"><%= teams[9].totalPlayers%></span>
                        </li>
                      </ul>
                    </div>
                  </div>
                </div>
               



                <section class="ih-points-table-sec position-relative">
                  <div class="CSK-inside" style="position:absolute;top:-60px"
                    id="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465555_CSKroundbig.png">
                  </div>
                  <div class="ih-points-table-sec">
                    <div class="ih-pt-bg">
                      <div class="ih-pt-tab-bg">
                        <div class="ih-titel">
                          <div class="ih-t-left align-center">
                            <h2><img
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465555_CSKroundbig.png"
                                alt="" width="50"> Chennai Super Kings</h2>
                          </div>
                        </div>

                        <div class="ih-pcard-sec">
                          <div class="ih-pcard-wrap">
                            <table width="100%" class="ih-td-tab auction-tbl" id="t1">
                              <thead>
                                <tr class="ih-pt-tbl" style="display:revert">
                                  <th class="skip-filter" style="width:25%;text-align: left;">PLAYER</th>
                                  <th style="width:25%">NATIONALITY</th>
                                  <th style="width:25%">TYPE</th>
                                  <th style="width:25%">PRICE PAID</th>
                                </tr>
                              </thead>

                              <tbody id="pointsdata">
                                <%players.forEach(player=>{%>
                                <%if(player.teamId==1){%>
                                  <tr>
                                    <td><%=player.playerName%></td>
                                    <td><%=player.nationality%> </td>
                                    <td><%=player.type%> </td>
                                    <td class="rpSymbol"><%=player.bidPrice%></td>
                                  </tr>
                                <%}%>
                              <%})%>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="ih-points-table-sec position-relative">
                  <div class="DC-inside" style="position:absolute;top:-60px"
                    id="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465727_DCroundbig.png">
                  </div>
                  <div class="ih-points-table-sec">
                    <div class="ih-pt-bg">
                      <div class="ih-pt-tab-bg">
                        <div class="ih-titel">
                          <div class="ih-t-left align-center">
                            <h2><img
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465727_DCroundbig.png"
                                alt="" width="50"> Delhi Capitals</h2>
                          </div>
                        </div>

                        <div class="ih-pcard-sec">
                          <div class="ih-pcard-wrap">
                            <table width="100%" class="ih-td-tab auction-tbl" id="t1">
                              <thead>
                                <tr class="ih-pt-tbl" style="display:revert">
                                  <th class="skip-filter" style="width:25%;text-align: left;">PLAYER</th>
                                  <th style="width:25%">NATIONALITY</th>
                                  <th style="width:25%">TYPE</th>
                                  <th style="width:25%">PRICE PAID</th>
                                </tr>
                              </thead>

                              <tbody id="pointsdata">
                               <%players.forEach(player=>{%>
                                <%if(player.teamId==2){%>
                                  <tr>
                                    <td><%=player.playerName%></td>
                                    <td><%=player.nationality%> </td>
                                    <td><%=player.type%> </td>
                                    <td class="rpSymbol"><%=player.bidPrice%></td>
                                  </tr>
                                <%}%>
                              <%})%>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="ih-points-table-sec position-relative">
                  <div class="GT-inside" style="position:absolute;top:-60px"
                    id="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465836_GTroundbig.png">
                  </div>  
                  <div class="ih-points-table-sec">
                    <div class="ih-pt-bg">
                      <div class="ih-pt-tab-bg">
                        <div class="ih-titel">
                          <div class="ih-t-left align-center">
                            <h2><img
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465836_GTroundbig.png"
                                alt="" width="50"> Gujarat Titans</h2>
                          </div>
                        </div>

                        <div class="ih-pcard-sec">
                          <div class="ih-pcard-wrap">
                            <table width="100%" class="ih-td-tab auction-tbl" id="t1">
                              <thead>
                                <tr class="ih-pt-tbl" style="display:revert">
                                  <th class="skip-filter" style="width:25%;text-align: left;">PLAYER</th>
                                  <th style="width:25%">NATIONALITY</th>
                                  <th style="width:25%">TYPE</th>
                                  <th style="width:25%">PRICE PAID</th>
                                </tr>
                              </thead>

                              <tbody id="pointsdata">
                                <%players.forEach(player=>{%>
                                <%if(player.teamId==3){%>
                                  <tr>
                                    <td><%=player.playerName%></td>
                                    <td><%=player.nationality%> </td>
                                    <td><%=player.type%> </td>
                                    <td class="rpSymbol"><%=player.bidPrice%></td>
                                  </tr>
                                <%}%>
                              <%})%>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="ih-points-table-sec position-relative">
                  <div class="KKR-inside" style="position:absolute;top:-60px"
                    id="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465948_KKRroundbig.png">
                  </div>
                  <div class="ih-points-table-sec">
                    <div class="ih-pt-bg">
                      <div class="ih-pt-tab-bg">
                        <div class="ih-titel">
                          <div class="ih-t-left align-center">
                            <h2><img
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465948_KKRroundbig.png"
                                alt="" width="50"> Kolkata Knight Riders</h2>
                          </div>
                        </div>

                        <div class="ih-pcard-sec">
                          <div class="ih-pcard-wrap">
                            <table width="100%" class="ih-td-tab auction-tbl" id="t1">
                              <thead>
                                <tr class="ih-pt-tbl" style="display:revert">
                                  <th class="skip-filter" style="width:25%;text-align: left;">PLAYER</th>
                                  <th style="width:25%">NATIONALITY</th>
                                  <th style="width:25%">TYPE</th>
                                  <th style="width:25%">PRICE PAID</th>
                                </tr>
                              </thead>

                              <tbody id="pointsdata">
                               <%players.forEach(player=>{%>
                                <%if(player.teamId==4){%>
                                  <tr>
                                    <td><%=player.playerName%></td>
                                    <td><%=player.nationality%> </td>
                                    <td><%=player.type%> </td>
                                    <td class="rpSymbol"><%=player.bidPrice%></td>
                                  </tr>
                                <%}%>
                              <%})%>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="ih-points-table-sec position-relative">
                  <div class="LSG-inside" style="position:absolute;top:-60px"
                    id="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466030_LSGroundbig.png">
                  </div>
                  <div class="ih-points-table-sec">
                    <div class="ih-pt-bg">
                      <div class="ih-pt-tab-bg">
                        <div class="ih-titel">
                          <div class="ih-t-left align-center">
                            <h2><img
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466030_LSGroundbig.png"
                                alt="" width="50"> Lucknow Super Giants</h2>
                          </div>
                        </div>

                        <div class="ih-pcard-sec">
                          <div class="ih-pcard-wrap">
                            <table width="100%" class="ih-td-tab auction-tbl" id="t1">
                              <thead>
                                <tr class="ih-pt-tbl" style="display:revert">
                                  <th class="skip-filter" style="width:25%;text-align: left;">PLAYER</th>
                                  <th style="width:25%">NATIONALITY</th>
                                  <th style="width:25%">TYPE</th>
                                  <th style="width:25%">PRICE PAID</th>
                                </tr>
                              </thead>

                              <tbody id="pointsdata">
                                <%players.forEach(player=>{%>
                                <%if(player.teamId==5){%>
                                  <tr>
                                    <td><%=player.playerName%></td>
                                    <td><%=player.nationality%> </td>
                                    <td><%=player.type%> </td>
                                    <td class="rpSymbol"><%=player.bidPrice%></td>
                                  </tr>
                                <%}%>
                              <%})%>
                               
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="ih-points-table-sec position-relative">
                  <div class="MI-inside" style="position:absolute;top:-60px"
                    id="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466090_MIroundbig.png">
                  </div>
                  <div class="ih-points-table-sec">
                    <div class="ih-pt-bg">
                      <div class="ih-pt-tab-bg">
                        <div class="ih-titel">
                          <div class="ih-t-left align-center">
                            <h2><img
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466090_MIroundbig.png"
                                alt="" width="50"> Mumbai Indians</h2>
                          </div>
                        </div>

                        <div class="ih-pcard-sec">
                          <div class="ih-pcard-wrap">
                            <table width="100%" class="ih-td-tab auction-tbl" id="t1">
                              <thead>
                                <tr class="ih-pt-tbl" style="display:revert">
                                  <th class="skip-filter" style="width:25%;text-align: left;">PLAYER</th>
                                  <th style="width:25%">NATIONALITY</th>
                                  <th style="width:25%">TYPE</th>
                                  <th style="width:25%">PRICE PAID</th>
                                </tr>
                              </thead>

                              <tbody id="pointsdata">
                                <%players.forEach(player=>{%>
                                <%if(player.teamId==6){%>
                                  <tr>
                                    <td><%=player.playerName%></td>
                                    <td><%=player.nationality%> </td>
                                    <td><%=player.type%> </td>
                                    <td class="rpSymbol"><%=player.bidPrice%></td>
                                  </tr>
                                <%}%>
                              <%})%>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="ih-points-table-sec position-relative">
                  <div class="PK-inside" style="position:absolute;top:-60px"
                    id="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466143_PBKSroundbig.png">
                  </div>
                  <div class="ih-points-table-sec">
                    <div class="ih-pt-bg">
                      <div class="ih-pt-tab-bg">
                        <div class="ih-titel">
                          <div class="ih-t-left align-center">
                            <h2><img
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466143_PBKSroundbig.png"
                                alt="" width="50"> Punjab Kings</h2>
                          </div>
                        </div>

                        <div class="ih-pcard-sec">
                          <div class="ih-pcard-wrap">
                            <table width="100%" class="ih-td-tab auction-tbl" id="t1">
                              <thead>
                                <tr class="ih-pt-tbl" style="display:revert">
                                  <th class="skip-filter" style="width:25%;text-align: left;">PLAYER</th>
                                  <th style="width:25%">NATIONALITY</th>
                                  <th style="width:25%">TYPE</th>
                                  <th style="width:25%">PRICE PAID</th>
                                </tr>
                              </thead>

                              <tbody id="pointsdata">
                                <%players.forEach(player=>{%>
                                <%if(player.teamId==7){%>
                                  <tr>
                                    <td><%=player.playerName%></td>
                                    <td><%=player.nationality%> </td>
                                    <td><%=player.type%> </td>
                                    <td class="rpSymbol"><%=player.bidPrice%></td>
                                  </tr>
                                <%}%>
                              <%})%>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="ih-points-table-sec position-relative">
                  <div class="RR-inside" style="position:absolute;top:-60px"
                    id="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466295_RRroundbig.png">
                  </div>
                  <div class="ih-points-table-sec">
                    <div class="ih-pt-bg">
                      <div class="ih-pt-tab-bg">
                        <div class="ih-titel">
                          <div class="ih-t-left align-center">
                            <h2><img
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466295_RRroundbig.png"
                                alt="" width="50"> Rajasthan Royals</h2>
                          </div>
                        </div>

                        <div class="ih-pcard-sec">
                          <div class="ih-pcard-wrap">
                            <table width="100%" class="ih-td-tab auction-tbl" id="t1">
                              <thead>
                                <tr class="ih-pt-tbl" style="display:revert">
                                  <th class="skip-filter" style="width:25%;text-align: left;">PLAYER</th>
                                  <th style="width:25%">NATIONALITY</th>
                                  <th style="width:25%">TYPE</th>
                                  <th style="width:25%">PRICE PAID</th>
                                </tr>
                              </thead>

                              <tbody id="pointsdata">
                               <%players.forEach(player=>{%>
                                <%if(player.teamId==8){%>
                                  <tr>
                                    <td><%=player.playerName%></td>
                                    <td><%=player.nationality%> </td>
                                    <td><%=player.type%> </td>
                                    <td class="rpSymbol"><%=player.bidPrice%></td>
                                  </tr>
                                <%}%>
                              <%})%>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="ih-points-table-sec position-relative">
                  <div class="RCB-inside" style="position:absolute;top:-60px"
                    id="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466217_RCBroundbig.png">
                  </div>
                  <div class="ih-points-table-sec">
                    <div class="ih-pt-bg">
                      <div class="ih-pt-tab-bg">
                        <div class="ih-titel">
                          <div class="ih-t-left align-center">
                            <h2><img
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466217_RCBroundbig.png"
                                alt="" width="50"> Royal Challengers Bengaluru</h2>
                          </div>
                        </div>

                        <div class="ih-pcard-sec">
                          <div class="ih-pcard-wrap">
                            <table width="100%" class="ih-td-tab auction-tbl" id="t1">
                              <thead>
                                <tr class="ih-pt-tbl" style="display:revert">
                                  <th class="skip-filter" style="width:25%;text-align: left;">PLAYER</th>
                                  <th style="width:25%">NATIONALITY</th>
                                  <th style="width:25%">TYPE</th>
                                  <th style="width:25%">PRICE PAID</th>
                                </tr>
                              </thead>

                              <tbody id="pointsdata">
                                <%players.forEach(player=>{%>
                                <%if(player.teamId==9){%>
                                  <tr>
                                    <td><%=player.playerName%></td>
                                    <td><%=player.nationality%> </td>
                                    <td><%=player.type%> </td>
                                    <td class="rpSymbol"><%=player.bidPrice%></td>
                                  </tr>
                                <%}%>
                              <%})%>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
                <section class="ih-points-table-sec position-relative">
                  <div class="SH-inside" style="position:absolute;top:-60px"
                    id="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466366_SRHroundbig.png">
                  </div>
                  <div class="ih-points-table-sec">
                    <div class="ih-pt-bg">
                      <div class="ih-pt-tab-bg">
                        <div class="ih-titel">
                          <div class="ih-t-left align-center">
                            <h2><img
                                src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466366_SRHroundbig.png"
                                alt="" width="50"> Sunrisers Hyderabad</h2>
                          </div>
                        </div>

                        <div class="ih-pcard-sec">
                          <div class="ih-pcard-wrap">
                            <table width="100%" class="ih-td-tab auction-tbl" id="t1">
                              <thead>
                                <tr class="ih-pt-tbl" style="display:revert">
                                  <th class="skip-filter" style="width:25%;text-align: left;">PLAYER</th>
                                  <th style="width:25%">NATIONALITY</th>
                                  <th style="width:25%">TYPE</th>
                                  <th style="width:25%">PRICE PAID</th>
                                </tr>
                              </thead>

                              <tbody id="pointsdata">
                              <%players.forEach(player=>{%>
                                <%if(player.teamId==10){%>
                                  <tr>
                                    <td><%=player.playerName%></td>
                                    <td><%=player.nationality%> </td>
                                    <td><%=player.type%> </td>
                                    <td class="rpSymbol"><%=player.bidPrice%></td>
                                  </tr>
                                <%}%>
                              <%})%>
                                
                              </tbody>
                            </table>
                          </div>
                        </div>
                      </div>
                    </div>
                  </div>
                </section>
              </div>

              <div id="top-buys" class="tab-pane fade">
                <div class="ih-points-table-sec">
                  <div class="ih-pt-bg">
                    <div class="ih-pt-tab-bg">
                      <div class="ih-pcard-sec">
                        <div class="ih-pcard-wrap">
                          <!-- <input class="auction-search" type="text" id="myInput" placeholder="Search Top Buys" title="Search Top Buys"> -->
                          <table width="100%" class="ih-td-tab auction-tbl" id="t4">
                            <thead>
                              <tr class="ih-pt-tbl" style="display:revert">
                                <th class="skip-filter" style="width:25%;text-align: left;">TEAM</th>
                                <th class="skip-filter" style="width:25%;">PLAYER</th>
                                <th class="skip-filter" style="width:25%;">TYPE </th>
                                <th class="skip-filter" style="width:25%;">PRICE</th>
                              </tr>
                            </thead>

                            <tbody id="pointsdata">
                              <tr>
                                <td class="ih-t-color">
                                  <div class="ih-pt-ic">
                                    <div class="ih-pt-img" style="width: 60px">
                                      <img
                                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465948_KKRroundbig.png"
                                        alt="">
                                    </div>
                                    <h2 class="ih-pt-cont">Kolkata Knight Riders</h2>
                                  </div>
                                </td>
                                <td>Mitchell Starc</td>
                                <td>Bowler</td>
                                <td>₹24,75,00,000</td>
                              </tr>
                              <tr>
                                <td class="ih-t-color">
                                  <div class="ih-pt-ic">
                                    <div class="ih-pt-img" style="width: 60px">
                                      <img
                                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466366_SRHroundbig.png"
                                        alt="">
                                    </div>
                                    <h2 class="ih-pt-cont">Sunrisers Hyderabad</h2>
                                  </div>
                                </td>
                                <td>Pat Cummins</td>
                                <td>All-Rounder</td>
                                <td>₹20,50,00,000</td>
                              </tr>
                              <tr>
                                <td class="ih-t-color">
                                  <div class="ih-pt-ic">
                                    <div class="ih-pt-img" style="width: 60px">
                                      <img
                                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465555_CSKroundbig.png"
                                        alt="">
                                    </div>
                                    <h2 class="ih-pt-cont">Chennai Super Kings</h2>
                                  </div>
                                </td>
                                <td>Daryl Mitchell</td>
                                <td>All-Rounder</td>
                                <td>₹14,00,00,000</td>
                              </tr>
                              <tr>
                                <td class="ih-t-color">
                                  <div class="ih-pt-ic">
                                    <div class="ih-pt-img" style="width: 60px">
                                      <img
                                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466143_PBKSroundbig.png"
                                        alt="">
                                    </div>
                                    <h2 class="ih-pt-cont">Punjab Kings</h2>
                                  </div>
                                </td>
                                <td>Harshal Patel</td>
                                <td>All-Rounder</td>
                                <td>₹11,75,00,000</td>
                              </tr>
                              <tr>
                                <td class="ih-t-color">
                                  <div class="ih-pt-ic">
                                    <div class="ih-pt-img" style="width: 60px">
                                      <img
                                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466217_RCBroundbig.png"
                                        alt="">
                                    </div>
                                    <h2 class="ih-pt-cont">Royal Challengers Bengaluru</h2>
                                  </div>
                                </td>
                                <td>Alzarri Joseph</td>
                                <td>Bowler</td>
                                <td>₹11,50,00,000</td>
                              </tr>
                              <tr>
                                <td class="ih-t-color">
                                  <div class="ih-pt-ic">
                                    <div class="ih-pt-img" style="width: 60px">
                                      <img
                                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465836_GTroundbig.png"
                                        alt="">
                                    </div>
                                    <h2 class="ih-pt-cont">Gujarat Titans</h2>
                                  </div>
                                </td>
                                <td>Spencer Johnson</td>
                                <td>Bowler</td>
                                <td>₹10,00,00,000</td>
                              </tr>
                              <tr>
                                <td class="ih-t-color">
                                  <div class="ih-pt-ic">
                                    <div class="ih-pt-img" style="width: 60px">
                                      <img
                                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465555_CSKroundbig.png"
                                        alt="">
                                    </div>
                                    <h2 class="ih-pt-cont">Chennai Super Kings</h2>
                                  </div>
                                </td>
                                <td>Sameer Rizvi</td>
                                <td>Batter</td>
                                <td>₹8,40,00,000</td>
                              </tr>
                              <tr>
                                <td class="ih-t-color">
                                  <div class="ih-pt-ic">
                                    <div class="ih-pt-img" style="width: 60px">
                                      <img
                                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466143_PBKSroundbig.png"
                                        alt="">
                                    </div>
                                    <h2 class="ih-pt-cont">Punjab Kings</h2>
                                  </div>
                                </td>
                                <td>Rilee Rossouw</td>
                                <td>Batter</td>
                                <td>₹8,00,00,000</td>
                              </tr>
                              <tr>
                                <td class="ih-t-color">
                                  <div class="ih-pt-ic">
                                    <div class="ih-pt-img" style="width: 60px">
                                      <img
                                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702465836_GTroundbig.png"
                                        alt="">
                                    </div>
                                    <h2 class="ih-pt-cont">Gujarat Titans</h2>
                                  </div>
                                </td>
                                <td>Shahrukh Khan</td>
                                <td>All-Rounder</td>
                                <td>₹7,40,00,000</td>
                              </tr>
                              <tr>
                                <td class="ih-t-color">
                                  <div class="ih-pt-ic">
                                    <div class="ih-pt-img" style="width: 60px">
                                      <img
                                        src="https://bcciplayerimages.s3.ap-south-1.amazonaws.com/ipl/franchises/1702466295_RRroundbig.png"
                                        alt="">
                                    </div>
                                    <h2 class="ih-pt-cont">Rajasthan Royals</h2>
                                  </div>
                                </td>
                                <td>Rovman Powell</td>
                                <td>Batter</td>
                                <td>₹7,40,00,000</td>
                              </tr>
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

              <div id="autab4-2022" class="tab-pane fade">
                <div class="ih-points-table-sec">
                  <div class="ih-pt-bg">
                    <div class="ih-pt-tab-bg">
                      <div class="ih-pcard-sec">
                        <div class="ih-pcard-wrap">
                          <table width="100%" class="ih-td-tab auction-tbl" id="t2">
                            <thead>
                              <tr class="ih-pt-tbl" style="display:revert">
                                <th class="skip-filter" style="width:25%;text-align: left;">PLAYER</th>
                                <th style="width:25%;">NATIONALITY</th>
                                <th style="width:25%;">TYPE</th>
                                <th style="width:25%;">BASE PRICE</th>
                              </tr>
                            </thead>

                            <tbody id="pointsdata">
                              <%if(players.length>0){%>
                               
                                    <%players.forEach(player=>{%>
                                     <%if(player.status==0){%>
                                      <tr>
                                        <td><%=player.playerName%></td>
                                        <td><%=player.nationality%></td>
                                        <td><%=player.type%></td>
                                        <td class="rpSymbol"><%=player.basePrice%></td>
                                      </tr>
                                      <%}%>
                                    <%})%>
                                
                              <%}%>
                              
                            </tbody>
                          </table>
                        </div>
                      </div>
                    </div>
                  </div>
                </div>
              </div>

          </section>

        </div>
    </div>
  </div>
<%-include('./includes/buyPlayer.ejs')%>


  

  <script src="https://www.iplt20.com/assets/js/dataTables.min.js?v=1.7.7"></script>
  <script src="https://www.iplt20.com/assets/js/ddtf.js?v=1.7.7"></script>
  <script src="https://www.iplt20.com/assets/js/news/news.js?v=1.7.7" type="text/javascript"></script>
  <!-- script file from header start-->
  <script defer src="https://www.iplt20.com/assets/js/mix-slick-flipdown-magnific-popup.js?v=1.7.7"></script>
  <!-- <script defer src="https://www.iplt20.com/assets/js/slick-slider/slick.min.js?v=1.5.6"></script>
    <script defer src="https://www.iplt20.com/assets/js/flipcount/flipdown.min.js?v=1.5.6"></script>
    <script defer src="https://www.iplt20.com/assets/js/magnific/jquery.magnific-popup.min.js?v=1.5.6"></script> -->

  <!-- <script defer src="https://www.iplt20.com/assets/js/mcustom/jquery.mCustomScrollbar.min.js?v=1.5.6"></script> -->
  <!-- script file from header end-->

  <script src="https://maxcdn.bootstrapcdn.com/bootstrap/4.0.0/js/bootstrap.min.js"
    integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl"
    crossorigin="anonymous"></script>

  <script src="https://www.iplt20.com/assets/js/video_js/brightcove_palyer.js?v=1.7.7"></script>
  









  





  <script src="https://cdnjs.cloudflare.com/ajax/libs/lazysizes/5.3.2/lazysizes.min.js"
    integrity="sha512-q583ppKrCRc7N5O0n2nzUiJ+suUv7Et1JGels4bXOaMFQcamPk9HjdUknZuuFjBNs7tsMuadge5k9RzdmO+1GQ=="
    crossorigin="anonymous" referrerpolicy="no-referrer"></script>
  <div id="top"></div>

<script>

  function prepareFinalizeBid(playerId){
    const playersData = <%- JSON.stringify(players) %>

    const playerData = playersData.find(player => player.playerId == playerId)

    // alert(playerData.type);

     $('#uplayerName').val(playerData.playerName);
    $('#utype').val(playerData.type);
    $('#ubasePrice').val(playerData.basePrice);
    $('#uplayerId').val(playerData.playerId);
    $('#unationality').val(playerData.nationality);


    $('#finalBidModal').modal('show');

  }

</script>

 <script>

            function validateAndSubmit() {
                
               
                const teamId=document.getElementById('uteamId').value

                const basePrice=document.getElementById('ubasePrice').value

              
                const teamsData = <%- JSON.stringify(teams) %>
              
               const teamData = teamsData.find(team => team.teamId == teamId)



                const bidPrice=document.getElementById('ubidPrice').value

                

                if(teamId=="")
                {
                    alert("team must selected");
                    return false;
                }

                if(bidPrice>teamData.remainingAmount)
                {
                    alert("In suffecient Amount in the team");
                    return false;
                }
              
                if(+basePrice>bidPrice)
                {
                    alert("the bid price is less than base price");
                    return false;
                }
                return true;
            }
            </script>



</body>

</html>